html, body {
	margin: auto;
	height: 100%;
	width: 100%;
}
.load-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.load-screen .indicator,
.load-screen .message {
	bottom: 0;
	display: block;
	height: 250px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	margin: auto;
	width: 250px;
}
.load-screen .indicator {
	border-radius: 50%;
	border: 5px solid transparent;
	border-top-color: #009192;
	-webkit-animation: spin 2.5s linear infinite; 
	animation: spin 2.5s linear infinite;
	z-index: 1001;
}
.load-screen .message {
	color:white;
	font-family:Arial;
	font-size:10px;
	line-height: 250px;
	text-align: center;
	z-index: 1002;
}
.load-screen .message .inner {
	display: inline-block;
	line-height: normal;
    vertical-align: middle;
}
.load-screen .message h1,
.load-screen .message h2 {
	margin: auto;
}
.load-screen .indicator:before,
.load-screen .indicator:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	border: 5px solid transparent;
}
.load-screen .indicator:before {
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-top-color: #82C1D8;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}
.load-screen .indicator:after {
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-top-color: #092F4C;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
.load-screen .сurtain {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #53AF53;
	z-index: 1000;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.load-screen .сurtain.left {
	left: 0;
}
.load-screen .сurtain.right {
	right: 0;
}
.loaded.load-screen .indicator,
.loaded.load-screen .message {
	opacity: 0;
}
.loaded.load-screen .сurtain.left {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded.load-screen .сurtain.right {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% { 
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
