html, body {
	margin: auto;
	height: 100%;
	width: 100%;
}
.load-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.load-screen .indicator {
	bottom: 0;
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	margin: auto;
	width: 100px;
	z-index: 1001;
}
.load-screen .indicator > * {
    border-radius: 13px;
	float: left;
	height: 20px;
	margin-left: 11px;
    opacity: 0.3;
	width: 20px;
	-webkit-animation: loading-indicator 0.8s linear infinite; 
	animation: loading-indicator 0.8s linear infinite; 
}
.load-screen .indicator > :nth-child(1) {
	-webkit-animation-delay: 0.18s;
	animation-delay: 0.18s;
}
.load-screen .indicator > :nth-child(2) {
	-webkit-animation-delay: 0.42s;
	animation-delay: 0.42s;
}
.load-screen .indicator > :nth-child(3) {
	-webkit-animation-delay: 0.54s;
	animation-delay: 0.54s;
}
.load-screen .сurtain {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #53AF53;
	z-index: 1000;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.load-screen .сurtain.left {
	left: 0;
}
.load-screen .сurtain.right {
	right: 0;
}
.loaded.load-screen .indicator,
.loaded.load-screen .message {
	opacity: 0;
}
.loaded.load-screen .сurtain.left {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded.load-screen .сurtain.right {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
@-webkit-keyframes loading-indicator {
	0% {
    	opacity: 0.3;
	}
    50% {
    	opacity: 1;
        background-color: #FFFFFF;
	}
    100% {
    	opacity:0.3;
    }
}
