.desktop-taskbar {
	@include box-shadow(-2px -1px 2px rgba(0, 0, 0, 0.2));
	padding: 5px;
	.#{$prefix}toolbar {
		padding: 0;
	}
}
.desktop-home-button.x-btn {
	background-color: transparent;
	border-radius: 2em;
	padding: 5px;
	.#{$prefix}btn-inner {
		padding: 0 5px;
	}
	.desktop-home-button-icon {
		background-size: 20px;
	}	
}
