.#{$prefix}project-blank-page {
    background-color: $panel-body-background-color; 
	.#{$prefix}project-blank-page-container {
		color: $form-label-font-color ;
	    text-align: center;
	    .fa-outer-class {
			@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
		    margin:auto;
		    width: 150px;
		    height: 150px;
		    border-radius: 75px;
		    background-color: $project-blank-page-background-color;
		    text-align: center;   
		   .x-fa:before {
			    line-height:150px;
			    font-size:80px;
			    color: $project-blank-page-color;
			}
		}
		h1 {
			margin:5px;
			line-height:30px;
			font-weight:normal;
		}
	}	
}
