.task-status-view {
	background: $panel-body-background-color;
	.#{$prefix}panel-body {
		background: $panel-body-background-color;
	}
}
.task-status-items-wrap {
	background: $task-status-items-background-color;
	padding: 15px;
	.task-status-item {
		.line-wrap {
			position: relative;
			&:before {
				border-right: solid 2px $base-color;
				content: "";
				height: 100%;
				left: 0;
				margin-top: 5px;
				position: absolute;
				top: 70px;
				width: 50px;
			}
		}
		.profile-pic-wrap {
			width: 100px;
			float: left;
			font-size: 10px;
			text-align: center;
			position: relative;
			background: $lightest-color;
			padding: 5px 0;
			img {
				height:46px;
				width:46px;
				@include border-radius($circle-border-radius);
			}
		}
		.contents-wrap {
			border:1px solid $base-border-color;
			margin: 0 0px 15px 110px;
			min-height: 70px;
			position: relative;
			padding: 15px;
			white-space: normal;
			&:before, &:after {
				content: "";
				display: block;
				position: absolute;
				width: 0;
				height: 0;
				left: 0;
				top: 0;
			}
			&:before {
				border-top: 9px solid transparent;
				border-bottom: 9px solid transparent;
				border-right: 9px solid $base-border-color;
				margin: 15px 0 0 -9px;
			}
			&:after {
				border-top: 9px solid transparent;
				border-bottom: 9px solid transparent;
				border-right: 9px solid $lightest-color;
				margin: 15px 0 0 -8px;
            }
			.shared-by {
				display: block;
				font-size:12px;
				font-weight:bold;
				line-height:18px;
				margin-bottom:10px;
				.author {
					color: $task-status-item-author-color;
					text-decoration:none;
				}
				.#{$prefix}fa.fa-long-arrow-right {
					color: $color-gray;
					padding-left: 10px;
					text-decoration:none;
				}
				.involvement {
					color: $task-status-item-involvement-color;
					padding: 0 10px;
					text-decoration:none;
				}
				.status {
					display: block;
					float: right;
					width: 170px;
					span {
						float: right;
					}
					.boolean {
						font-weight:normal;
					}
					.soft-green {
						color: $color-soft-green;
					}
					.soft-orange {
						color: $color-soft-orange;
					}
					.soft-red {
						color: $color-soft-red;
					}
				}
            }
			.description {
				font-style: italic;
			}
        }
		.article-comment {
			border-left: 5px solid $base-border-color;
			padding: 10px 20px;
			span {
				margin-right:10px;
				color: $task-status-item-article-comment-color;
			}
		}
	}
	.task-status-item-last {
		.line-wrap:before {
			display: none;
		}
	}
	.task-status-item.x-view-item-focused {
		outline-color: transparent !important;
	}
}