.locked-window {
    .#{$prefix}window-body {
		background-image: url(get-resource-path('images/lock-screen-background.jpg', 'shared'));
      	background-size: cover;
      	background-repeat: repeat;
  	}
	&.#{$prefix}window-default{
  	    border: none;
  	    border-radius: 0;
  	    padding: 0;
  	}
}
