.error-page-container {
	background-color: $blank-page-background-color;
	.error-page-inner-container {
		@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
		border: 1px solid white;
		border-radius: 25px;
		padding: 30px 40px;
		.error-page-header {
			margin: auto;
			text-align: center;
			.x-fa:before {
				color: $blank-page-color;
				font-size: 80px;
				line-height: 150px;
			}
			.error-page-header-text {
				color: $form-label-font-color;
			    font-size: 90px;
			    margin-left: 20px;
			}
		}
		.error-page-text {
			color: $form-label-font-color;
		    font-size: 18px;
		    line-height: 24px;
			text-align: center;
		}
	}
	
}