.#{$prefix}home-page {
	background-color: $home-page-background-color;
	background-image: $home-page-background-image;
	background-repeat: no-repeat;
	background-position: $home-page-background-image-position;
	background-size: $home-page-background-image-size;
	.#{$prefix}autocontainer-outerCt, .#{$prefix}autocontainer-innerCt {
		background: transparent;
	}
}