$task-status-items-background-color: dynamic(#FFFFFF);
$task-status-item-author-color: $base-color;
$task-status-item-involvement-color: dynamic($color-soft-red);
$task-status-item-article-comment-color: dynamic(#EEEEEE);