.#{$prefix}file-upload .upload-img .#{$prefix}form-display-field-default {
	color: $form-label-font-color;
	font-size: $file-upload-label-font-size;
	font-style: italic;
	font-weight: bolder;
	margin: 0;
	padding-top: round(($form-field-height - $form-display-field-line-height) / 2);
}
