.#{$prefix}file-upload .upload-img {
	.#{$prefix}form-display-field-default a {
		color: $form-label-font-color;
	}
	.signature-label {
		font-size: $file-upload-label-font-size;
		font-weight: $file-upload-label-font-weight;
	}
}

