.invoice-view {
	.invoice-source {
		border-color: #E0E0E0;
		border-style: solid;
		border-width: 0 1px 1px 1px;
		cursor: pointer;
		padding: 3px;
		table {
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
		}
		.amount {
			text-align: right;
		}
		.data {
			padding: 0 3px;
		}
		.label {
			background-color: #E0E0E0;
			font-weight: bold;
			text-align: right;
			padding: 0 3px 0 0;
			width: 95px;
		}
	}
	.invoice-source-over {
		background-color: #E0E0E0;
	}
	.invoice-source-selected {
		background-color: #D0D0D0;
		border-color: #D0D0D0;
		.label {
			background-color: transparent;
		}
	}
	.x-view-item-focused {
		outline-color: #C0C0C0 !important;
		outline-style: solid !important;
		.label {
			background-color: transparent;
		}
	}
}