.#{$prefix}periodpicker {
	.#{$prefix}monthpicker-months,
	.#{$prefix}monthpicker-years {
		width: 50%;
		.#{$prefix}monthpicker-item {
			width: 50%;
		}
	}
	.#{$prefix}monthpicker-quarters {
		.#{$prefix}monthpicker-item {
			width: 100%;
		}
	}
	.#{$prefix}monthpicker-yearpicker .#{$prefix}monthpicker-years {
		width: 100%;
		.#{$prefix}monthpicker-item {
			width: 25%;
		}
	}
	.#{$prefix}monthpicker-yearnav-button-ct {
		width: 50%;
	}
	
}