.auth-panel {
 	.#{$prefix}form-text-default {
		border:	1px solid transparent;
		height: 100%;
		padding: 14px;
	}
	.auth-profile-wrap {
		background: $base-color;
		color: $lightest-color;
		line-height: 24px;
		.user-name-text {
			font-size: 18px;
			font-weight: bold;
		}
		.user-post-text {
			font-size: 14px;
		}
		.auth-profile-img {
			@include border-radius($circle-border-radius);
		}
	}
	.#{$prefix}form-text-default,
	.auth-textbox .#{$prefix}form-trigger-wrap,
	.auth-combobox .#{$prefix}form-trigger-wrap {
		border-radius: .5em;
	}
	.#{$prefix}form-trigger {
		background: none;
		font: 16px/30px 'FontAwesome';
		text-align: right;
		width: 50px;
	}
	.#{$prefix}form-arrow-trigger:before {
		content: "\f0d7";
	}
	.#{$prefix}form-password-trigger,
	.#{$prefix}form-user-trigger,
	.#{$prefix}form-token-trigger,
	.#{$prefix}form-envelope-trigger,
	.#{$prefix}form-arrow-trigger {
		&:before {
			top: 10px;
			left: -18px;
			position: relative;
			color: $dialog-trigger-color;
			font-size: 30px;
		}
	}
	.seperator{
		text-align: center;
		color: $create-account-background-color;
		font-family: "Open Sans";
		display: inline-block;
		background: $lightest-color;
		position: relative;
		z-index: 1;
		padding: 0 8px;
	}
	.link-logout,
	.link-login,
	.link-forgot-password {
		line-height: 32px;
		color: $base-color;
		cursor: pointer;
		margin-left: 5px;
		text-decoration: underline;
	}
	.#{$prefix}btn {
		.#{$prefix}btn-icon-el {
			&:before {
				right: 10px;
				font-size: 24px;
				position: absolute;
			}
		}
	}
	.auth-login-button .#{$prefix}fa,
	.auth-send-email-button .#{$prefix}fa,
	.auth-resetpassword-button .#{$prefix}fa {
		font-size: 32px;
		right: 11px;
		top: 10px;
		line-height: 16px;
	}
	.auth-create-account-button .#{$prefix}fa {
		color: $lightest-color;
		right: 24px;
		top: 10px;
	}
	.message-info {
		font-size: 16px;
		line-height: normal;
	}
	.outer-div {
		width: 100%;
		text-align: center;
		&:after {
			content: " ";
			width: 100%;
			height: 1px;
			background-color: #CACACA;
			position: absolute;
			left: 0;
			top: 9px;
		}
	}
}
