.btn-fieldcontainer {
 	color: $neutral-dark-color;
 	background-color: transparent !important;
 	border-color: transparent !important;
 	.#{$prefix}btn-icon-el {
	 	color: $neutral-dark-color;
 	}
 }
 