.#{$prefix}browser-view {
	font-family: $grid-row-cell-font-family;
	.#{$prefix}browser-view-item {
		background-color: $grid-row-cell-background-color
		border:  $grid-row-cell-background-color $grid-row-cell-border-style;
		color: $form-label-font-color;
		cursor: pointer;
		float: left;
		margin: 2px 0 5px 5px;
		padding: 10px;
		width: 100px;
		.#{$prefix}browser-view-item-icon {
			color: $base-color;
			display: block;
			font-size: 64px;
			height: 70px;
			margin-bottom: -5px;
			text-align: center;
			vertical-align: middle;
			width: 100%;
		}
		.#{$prefix}browser-view-item-title {
			display: block;
			font-size: $grid-row-cell-font-size;
			margin-bottom: 5px;
			text-align: center;
			text-overflow: ellipsis;
			overflow: hidden;
			height: 4em;
			width: 100%;
		}
	}
	.#{$prefix}browser-view-item-over {
		background-color: $grid-row-cell-over-background-color;
		color: $grid-row-cell-over-color;
	}
	.#{$prefix}browser-view-item-selected {
		background-color: $grid-row-cell-selected-background-color;
		color: $grid-row-cell-selected-color;
	}
}
