.#{$prefix}timer {
	background: #222 url(get-resource-path('/images/timer/bg.gif', 'shared')) repeat;
	color: #fff;
	-moz-text-shadow: 0 -1px 0 #000;
	-webkit-text-shadow: 0 -1px 0 #000;
	text-align: center;
	text-shadow: 0 -1px 0 #000;
	font-family: 'Helvetica Neue','Helvetica','Arial', sans-serif;
	.#{$prefix}timer-wrap {
		color: #eee;
		font-size: 40px;
		font-weight: bold;
		padding: 10px 10px 30px 10px;
		text-align: center;
		.number-wrap {
			box-shadow: 0 5px 8px #000000;
			-moz-box-shadow: 0 5px 8px #000000;
			-webkit-box-shadow: 0 5px 8px #000000;
			margin: 0 10px;
			position: relative;
			.caption {
				font-size: 12px;
				position: absolute;
				bottom: -25px;
				left: 0;
				text-align: center;
				width: 100%;
				color: #777;
			}
			.number {
				display: inline-block;
				*display: inline;
				*zoom: 1;
				background: #000;
				background-image: linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
				background-image: -o-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
				background-image: -moz-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
				background-image: -webkit-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
				background-image: -ms-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
				-webkit-border-top-right-radius: 6px;
				-webkit-border-bottom-right-radius: 0;
				-webkit-border-bottom-left-radius: 0;
				-webkit-border-top-left-radius: 0;
				-moz-border-radius-topright: 6px;
				-moz-border-radius-bottomright: 0;
				-moz-border-radius-bottomleft: 0;
				-moz-border-radius-topleft: 0;
				border-top-right-radius: 6px;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
				-moz-background-clip: padding;
				-webkit-background-clip: padding-box;
				background-clip: padding-box;
				padding: 0 10px;
				height: 60px;
				line-height: 60px;
				text-align: center;
				border: 1px solid #555;
				-moz-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
				-webkit-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
				box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
				-moz-text-shadow: 0 3px 3px #000000;
				-webkit-text-shadow: 0 3px 3px #000000;
				text-shadow: 0 3px 3px #000000;
			}
			.line {
				position: absolute;
				width: 100%;
				height: 1px;
				top: 52%;
				left: 0;
				background: #000;
				-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
				-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
				box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
			}
		}
	}
}
