.auth-locked {
	background-image: url(get-resource-path('images/lock-screen-background.jpg', 'shared'));
	background-size: cover;
	.auth-locked-inner {
		background: transparent;
	}
}
.lockscreen-header {
	background-color: $base-color;
	color: white;
}
.text-border {
	border: 1px solid #EFEFEF;
}
.checkbox-text-adjustment {
	margin-top: .5rem;
}
.#{$prefix}unsized .#{$prefix}field-input{
	min-width: 2em;
}
