.#{$prefix}tree-icon {
	color: inherit !important;
}
.#{$prefix}grid-item .italicFont {
	font-style: italic;
}
.priority-soft-blue {
	color: $color-soft-blue !important;
}
.priority-soft-green {
	color: $color-soft-green !important;
}
.priority-soft-olive {
	color: $color-soft-olive !important;
}
.priority-soft-red {
	color: $color-soft-red !important;
}