.communion-view-panel {
	.message-row {
		cursor: pointer;
		td, .#{$prefix}grid-cell-inner {
			height: 100%;
		}
		.#{$prefix}grid-cell-inner {
			padding: 5px;
		}
		.#{$prefix}grid-cell-inner-row-expander {
			padding: 5px 4px;
		}
		.author-photo {
			img {
				border:2px solid $base-border-color;
				@include border-radius($circle-border-radius);
				height:40px;
				width:40px;
			}
		}
		.message-attr {
			.#{$prefix}grid-cell-inner {
				padding: 5px 0;
			}
			span {
				float: left;
				margin: 3px;
			}
		}
		.recipients {
			.author-name {
				font-size:14px;
				margin: 0 0 6px 0;
			}
		}
		td.created {
			font-size:11px;
			span {
				margin-right:5px;
				font-size:11px;
			}
		}
	}	
	.#{$prefix}grid-rowbody {
		padding: 0;
		.message-header {
			border-bottom: none;
		}
		.description {
			padding-left: 75px;
		}
	}
}
