.message-header {
	border-bottom: 1px solid $base-border-color;
	cursor: pointer;
	img.author-photo {
		@include border-radius($circle-border-radius);
		border: 2px solid $base-border-color;
		float: left;
		height: 50px;
		width: 50px;
	}
	.content-wrap {
		margin-left:65px;
		.author-name-wrap {
			.recipients {
				float: left;
				margin: 0 10px 5px 0;
				.author-name {
					font-size: 16px;
	 				margin: 0 0 12px 0;
				}
				whom: {
					font-size: 14px;
				}
			}
			.created {
				float:right;
				span {
					font-size: 12px;
					margin-right: 5px;
					position: relative;
					top: 1px;
				}
			}
		}
		.description {
			clear: both;
			white-space: normal;
		}
	}
}