.unsupported-page-container {
	text-align: center;
	color: $unsupported-page-color;
	.fa-outer-class {
		margin:auto;
		width: 150px;
		height: 150px;
		border-radius: 75px;
		background-color: $unsupported-page-background-color;
		text-align: center;   
		.x-fa:before {
			line-height:150px;
			font-size:80px;
			color: $unsupported-page-color;
		}
	}
	.unsupported-page-text {
		text-align: center;
		text-shadow: 0 1px 1px white;
		padding: 10px;
		width: 80%;
		margin: 0 auto;
	}
}