@include treelist-ui(
	$ui: 'navigation',
	$padding: 0 10px,
	// Black-ish background color
	$background-color: $panel-navigation-background-color,
	$toolstrip-background-color: $panel-navigation-background-color,
	$tool-float-indicator-color: $panel-navigation-item-text-color,
	$tool-float-indicator-width: 5px,
	$tool-indicator-selected-color: $panel-navigation-item-text-color,
	$tool-indicator-selected-width: 5px,
	$tool-selected-background-color: mix(white, $panel-navigation-background-color, 10%),
//	$tool-selected-color: #fff,
//	$tool-selected-background-color: $panel-header-background-color,
	// Darker background for expanded subtrees
	$item-expanded-background-color: #2c3845,
	// Taller line height
	$item-line-height : $panel-navigation-item-line-height,
	$row-over-background-color: mix(white, $panel-navigation-background-color, 5%),
	$row-selected-background-color: mix(white, $panel-navigation-background-color, 10%),
	// Off-white text
	$item-icon-color: $panel-navigation-item-text-color,
	$item-expander-color: #fff,
	$item-text-color: $panel-navigation-item-text-color,
	// Brighter when hovered
	$item-icon-over-color: #fff,
	$item-expander-over-color: #fff,
	$item-text-over-color: mix(white, $panel-navigation-item-text-color, 50%),
	$item-text-font-size: 14px,
	// Various sizes for the pieces:
	$item-icon-font-size: 18px,
	$item-icon-width: 44px,
	$item-expander-font-size: 16px,
	$item-expander-width: 24px,
	// Style the "row indicator" (the vertical stripe on the left edge):
	$row-indicator-width: 5px,
	$row-indicator-selected-color: $panel-navigation-item-text-color,
	$row-indicator-selected-over-color: lighten($panel-navigation-item-text-color, 7%),
	$row-indicator-over-color: transparent
);
.collapsed {
	.#{$prefix}tree-elbow-img{
		display:none;
	}
	.#{$prefix}tree-node-text {
		display:none;
	}
}
.#{$prefix}treelist-item-tool {
    height: $panel-navigation-item-line-height;
    &.hot-icon:after, &.new-icon:after {
        background: $panel-header-background-color;
        content: '';
    }
}
