.#{$prefix}file-upload {
	.#{$prefix}panel-body {
		.upload-img {
			background-color: $file-upload-background-color;
			.file-input-label .#{$prefix}toolbar-text {
				color: $form-label-font-color;
				font-size: $file-upload-label-font-size;
				font-weight: $file-upload-label-font-weight;
				padding: 0;
			}
			.image-cell {
				text-align:center;
			}
		}
	}
}
.#{$prefix}file-upload.drag-over {
	.#{$prefix}panel-body {
		.upload-img {
			background-color: $file-upload-background-color-drag-over;
		}
	}
}