@mixin cfjs-viewport-ui (
	$ui: null,
	$ui-company-logo-background-color: null,
	$ui-company-logo-border-color: null,
	$ui-company-logo-box-shadow: null,
	$ui-company-logo-color: null,
	$ui-main-logo-font-size: 0px,
	$ui-main-logo-line-height: 0px,
	$ui-main-logo-height: null,
	$ui-main-logo-margin: null,
	$ui-tool-bar-height: null,
	$ui-tool-bar-padding: null
) {
	@if $ui-tool-bar-height == null {
		$ui-tool-bar-height: dynamic(64px);
	}
	@if $ui-main-logo-height == null {
		$ui-main-logo-height: dynamic($ui-tool-bar-height / 2);
	}
	@if $ui-main-logo-margin == null {
		$ui-main-logo-margin: dynamic(($ui-tool-bar-height - $ui-main-logo-height) / 2 - 1);
	}
	.#{$prefix}viewport-#{$ui} {
		.viewport-headerbar {
			padding: $ui-tool-bar-padding;
			position: fixed;
			width: 100%;
			z-index: 10;
			border: none;
			.top-user-name a {
				color: inherit;
				text-decoration: inherit;
			}
			.header-right-profile-image {
				border-radius: 20px;
			}
		}
		.company-logo {
			@include box-shadow ($ui-company-logo-box-shadow);
			background-color: $ui-company-logo-background-color;
			border-color: $ui-company-logo-border-color;
			border-width: 0 0 1px 0;
			color: $ui-company-logo-color;
			cursor: pointer;
			font-size: 16px;
			height: $ui-tool-bar-height;
			text-decoration: none;
			&.in-frame {
				color: $form-label-font-color;
				background-color: inherit;
				border-color: $ui-company-logo-color;
				.main-logo img {
					padding-right: 5px;
				}
			}
			.main-logo {
				border-collapse: collapse;
				border-image-width: 0px;
				border-spacing: 0px;
				font-size: $ui-main-logo-font-size;
				line-height: $ui-main-logo-line-height;
				margin: $ui-main-logo-margin;
				img {
					height: $ui-main-logo-height;
				}
			}
		}
	}
}

@include cfjs-viewport-ui (
	$ui: 'default',
	$ui-company-logo-background-color: $panel-navigation-background-color,
	$ui-company-logo-border-color: $panel-navigation-item-text-color,
	$ui-company-logo-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2),
	$ui-company-logo-color: $lightest-color,
	$ui-main-logo-font-size: 20px,
	$ui-main-logo-line-height: 16px,
	$ui-tool-bar-height: $panel-navigation-item-line-height,
	$ui-tool-bar-padding: 0 10px 0 0
);

//--------------------------------------------------------
// Create classes for full-size responsive items

.big-100 {
    @include responsivecolumn-item(100%);
}

.big-60 {
    @include responsivecolumn-item(60%);
}

.big-50 {
    @include responsivecolumn-item(50%);
}

.big-40 {
    @include responsivecolumn-item(40%);
}

.big-33 {
    @include responsivecolumn-item(33.33%);
}

.big-20 {
    @include responsivecolumn-item(20%);
}

//--------------------------------------------------------
// And classes for small-size responsive items

.#{$prefix}responsivecolumn-small {
     > .small-100 {
         @include responsivecolumn-item(100%);
     }
     > .small-50 {
         @include responsivecolumn-item(50%);
     }
}

.toolbar-btn-shadow {
	@include box-shadow (0 1px 2px rgba(0, 0, 0, 0.2));
	.#{$prefix}btn-over {
		background-color: $button-toolbar-hover-background-color;
	}
}
