$color-blue: #167ABC;
$color-green: #16B603;
$color-gray: #9A9A9A;
$color-olive: #556B2F;
$color-red: #FF0000;
$color-soft-blue: #2EADF5;
$color-soft-cyan: #03B4D5;
$color-soft-green: #9CC96B;
$color-soft-olive: #6B8E23;
$color-soft-orange: #FFC107;
$color-soft-purple: #925E8B;
$color-soft-red: #E44959;

.#{$prefix}toolbar-default.toolbar-btn-header {
	background-color: transparent;
}
.buttons-delete-focus .#{$prefix}btn {
	border: none;
	background: transparent;
    &:focus, &:hover {
		background: transparent;
    }
}
.buttons-delete-focus.toolbar-btn-header .#{$prefix}toolbar-item {
	background: transparent !important;
}
.#{$prefix}accordion-item .buttons-delete-focus {
	.#{$prefix}btn, .#{$prefix}btn.#{$prefix}btn-disabled, .#{$prefix}btn..#{$prefix}btn-pressed {
		background: transparent;
		.#{$prefix}btn-icon-el {
			color: inherit;
		}
	}
	.#{$prefix}tool-img {
		color: inherit;
	}
}
.#{$prefix}panel-header, .#{$prefix}window-header {
	.#{$prefix}btn {
		border: none;
		background: transparent;
		&:focus, &:hover {
			background: transparent;
		};
		.#{$prefix}btn-icon-el {
			color: $panel-header-color; 
		}
	}
	.#{$prefix}btn.#{$prefix}btn-disabled.#{$prefix}btn-default-small {
		border: none;
		background: transparent;
	}
}
.#{$prefix}grid-row.blue,
.#{$prefix}grid-cell.blue,
.#{$prefix}fa.blue,
.blue .#{$prefix}fa,
.blue .#{$prefix}menu-item-text {
	color: $color-blue;
}
.#{$prefix}grid-row.green,
.#{$prefix}grid-cell.green,
.#{$prefix}fa.green,
.green .#{$prefix}fa,
.green .#{$prefix}menu-item-text {
	color: $color-green;
}
.#{$prefix}grid-row.gray,
.#{$prefix}grid-cell.gray,
.#{$prefix}fa.gray,
.gray .#{$prefix}fa,
.gray .#{$prefix}menu-item-text {
	color: $color-gray;
}
.#{$prefix}grid-row.olive,
.#{$prefix}grid-cell.olive,
.#{$prefix}fa.olive,
.olive .#{$prefix}fa, 
.olive .#{$prefix}menu-item-text {
	color: $color-olive;
}
.#{$prefix}grid-row.red,
.#{$prefix}grid-cell.red,
.#{$prefix}fa.red,
.red .#{$prefix}fa, 
.red .#{$prefix}menu-item-text {
	color: $color-red;
}
.#{$prefix}grid-row.soft-blue,
.#{$prefix}grid-cell.soft-blue,
.#{$prefix}fa.soft-blue,
.soft-blue .#{$prefix}fa,
.soft-blue .#{$prefix}menu-item-text {
	color: $color-soft-blue;
}
.#{$prefix}grid-row.soft-cyan,
.#{$prefix}grid-cell.soft-cyan,
.#{$prefix}fa.soft-cyan,
.soft-cyan .#{$prefix}fa,
.soft-cyan .#{$prefix}menu-item-text {
	color: $color-soft-cyan;
}
.#{$prefix}grid-row.soft-green,
.#{$prefix}grid-cell.soft-green,
.#{$prefix}fa.soft-green,
.soft-green .#{$prefix}fa,
.soft-green .#{$prefix}menu-item-text {
	color: $color-soft-green;
}
.#{$prefix}grid-row.soft-olive,
.#{$prefix}grid-cell.soft-olive,
.#{$prefix}fa.soft-olive,
.soft-olive .#{$prefix}fa,
.soft-olive .#{$prefix}menu-item-text {
	color: $color-soft-olive;
}
.#{$prefix}grid-row.soft-orange,
.#{$prefix}grid-cell.soft-orange,
.#{$prefix}fa.soft-orange,
.soft-orange .#{$prefix}fa,
.soft-orange .#{$prefix}menu-item-text {
	color: $color-soft-orange;
}
.#{$prefix}grid-row.soft-purple,
.#{$prefix}grid-cell.soft-purple,
.#{$prefix}fa.soft-purple,
.soft-purple .#{$prefix}fa,
.soft-purple .#{$prefix}menu-item-text {
	color: $color-soft-purple;
}
.#{$prefix}grid-row.soft-red,
.#{$prefix}grid-cell.soft-red,
.#{$prefix}fa.soft-red,
.soft-red .#{$prefix}fa,
.soft-red .#{$prefix}menu-item-text {
	color: $color-soft-red;
}
