.#{$prefix}ck-editor {
	border: 1px solid var(--ck-color-base-border);
	border-radius: var(--ck-border-radius);
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
	.#{$prefix}ck-editor-toolbar {
		z-index: 1;
		box-shadow: 0 0 5px hsla(0,0%,0%,.2);
		border-bottom: 1px solid var(--ck-color-toolbar-border);
		.ck-toolbar {
			border: 0;
			border-radius: 0;
		}
	}
	.#{$prefix}ck-editor-input-wrap {
		padding: calc(2 * var(--ck-spacing-medium));
		background: var(--ck-color-base-foreground);
		overflow-y: scroll;
		.#{$prefix}ck-editor-input {
			padding: calc(2 * var(--ck-spacing-medium));
			border: 1px hsl(0,0%,82.7%) solid;
			border-radius: var(--ck-border-radius);
			background: white;
			box-shadow: 0 0 5px hsla(0,0%,0%,.1);
			margin: 0 auto;
		}
	}
	.ck-editor__main {
		height: 100%;
	}
	.ck-content {
		font: 14px/1 "Helvetica Neue", Helvetica, Arial;
		height: 100%;
		h2 {
			font-size: 2.18em;
			line-height: 1.37em;
			padding-top: .342em;
			margin-bottom: .142em;
		}
		h3 {
			color: hsl( 203, 100%, 50% );
			font-size: 1.75em;
			line-height: 1.86em;
			padding-top: .286em;
			margin-bottom: .142em;
		}
		h4 {
			font-size: 1.30em;
			line-height: 1.24em;
			padding-top: .171em;
			margin-bottom: .142em;
		}
		h5 {
			font-size: 1.1em;
			line-height: 1.03em;
			padding-top: .071em;
			margin-bottom: .142em;
		}
		p {
			font-size: 1em;
		    line-height: 1.2em;
		}
		blockquote {
			font-family: Georgia, serif;
			margin-left: calc(2 * var(--ck-spacing-large));
			margin-right: calc(2 * var(--ck-spacing-large));
		}
	}
	.ck-heading-dropdown {
		.ck-list {
			font: 16px/1.6 "Helvetica Neue", Helvetica, Arial;
		}
		.ck-heading_paragraph {
			font-size: 1em;
		}
		.ck-heading_heading1 {
			font-size: 2.18em;
		}
		.ck-heading_heading2 {
			color: hsl(203, 100%, 50%);
			font-size: 1.75em;
		}
		.ck-heading_heading3 {
			font-size: 1.30em;
		}
		.ck-heading_heading4 {
			font-size: 1.1em;
		}
		.ck-dropdown__panel .ck-list > .ck-list__item {
			line-height: calc(1.2 * var(--ck-line-height-base) * var(--ck-font-size-base));
			min-width: 8em;
		}
		.ck-heading_heading2.ck-list__item_active {
			color: var(--ck-color-list-item-text-active);
		}
	}
}
