.button-badge {
	position: relative;
	overflow: visible;
}
.button-badge[data-button-badge]:after {
	background-image: -webkit-linear-gradient(top, #FF1A1A, #E60000 3%, #B30000); 
	background-image: -moz-linear-gradient(top, #FF1A1A, #E60000 3%, #B30000); 
	background-image: -ms-linear-gradient(top, #FF1A1A, #E60000 3%, #B30000); 
	background-image: -o-linear-gradient(top, #FF1A1A, #E60000 3%, #B30000); 
	background-image: linear-gradient(top, #FF1A1A, #E60000 3%,#B30000);
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	border-radius: 1em;
	border-color: #990000;
	color: #FFFFFF;
	min-width: 1em;
	max-width: 95%;
	font: bold 1em/1.23em helvetica, arial, sans-serif;
	position: absolute;
	right: 2px;
	top: -.3em;
	padding: .1em .2em;
	text-align: center;
	text-overflow: ellipsis;
	z-index: 2;	 
	content: attr(data-button-badge);
	text-shadow: rgba(0, 0, 0, .5) 0 -.08em 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0.2em 0.2em;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0.2em 0.2em;
}
.button-badge.hide-badge[data-button-badge]:after {
	display: none!important;
}