$home-page-background-color: dynamic(#E1F1E1);
$home-page-background-image: url(get-resource-path('images/home-page-background.png', 'shared'));
$home-page-background-image-position: dynamic(99% 97%);
$home-page-background-image-size: dynamic(150px);