.cellstore-sessionwizard {
	.auth-panel {
		.#{$prefix}form-cell-trigger {
	        &:before {
	            top: 10px;
	            left: -10px;
	            position: relative;
	            color: $dialog-trigger-color;
	            font-size: 30px;
	        }
		}
		.#{$prefix}btn {
			text-align: center;
			height: 47px;
			width: 47px;
			.#{$prefix}btn-icon-el {
				&:before {
					right: 7px;
				}
			}
		}
	    .auth-pin-textbox .#{$prefix}form-trigger-wrap,
		.auth-pin-textbox .#{$prefix}form-text-default {
	    	border-radius: .5em;
	    }
		.auth-pin-textbox .#{$prefix}form-text-default {
	    	font-size: 35px;
	    	padding: 3px;
	    	text-align: center;
	    	vertical-align: middle;
	    }
		.auth-textbox input {
			font-size: 16px;
			height: 100%;
		}
		.display-field .#{$prefix}form-display-field-default {
			font-size: 16px;
			font-style: italic;
			font-weight: bold;
		}
	}	
}
