@mixin border-radius ($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
*:focus {
  outline:0 !important;
}
.shadow-panel, .x-menu-header {
	z-index: 0 !important;
}
.shadow-panel {
	@include box-shadow(0 0px 5px 1px rgba(0,0,0,0.2));
}
.panel-background, .panel-background.#{$prefix}border-layout-ct {
	background-color: $panel-body-background-color;
}
.#{$prefix}css-shadow {
	box-shadow:none !important;
}
.#{$prefix}fa {
	display: inline-block;
	font: normal normal normal 14px/1 $font-family;
}
.#{$prefix}form-trigger-default.#{$prefix}form-fa-trigger {
	background: none;
	color: $form-trigger-glyph-color;
	vertical-align: middle;
}
.alignRight {
	float: right;
}
.boldFont {
	font-weight: bold;
}
.italicFont {
	font-style: italic;
}
.#{$prefix}form-trigger-glyph-noop {
	cursor: default !important;
}
.#{$prefix}form-cell-trigger:before {
	content: "\f19c" !important;
}
.#{$prefix}form-envelope-trigger:before {
	content: "\f0e0" !important;
}
.#{$prefix}form-password-trigger:before {
	content: "\f023" !important;
}
.#{$prefix}form-token-trigger:before {
	content: "\f084" !important;
}
.#{$prefix}form-user-trigger:before {
	content: "\f007" !important;
}
